{% extends "admin/challenges/update.html" %}

{% block value %}
<div class="form-group">
	<label for="value">Checker URL<br>
		<small class="form-text text-muted">
			The checker server's url that receives data and return the score in the format of JSON.
		</small>
	</label>
	<input type="text" class="form-control" name="checker_url" placeholder="http(s)://host:port/path" value="{{ challenge.checker_url }}" required>
</div>

<div class="form-group">
	<label for="value">Allowed Suffixes<br>
		<small class="form-text text-muted">
			The allowed suffixes for uploaded data. Use "," to separate.
		</small>
	</label>
	<input type="text" class="form-control" name="allowed_suffixes" placeholder="e.g. jpg,png" value="{{ challenge.allowed_suffixes }}" required>
</div>

<div class="form-group">
	<label for="value">Filesize Limit<br>
		<small class="form-text text-muted">
			The limit of the filesize (MiB). 0 means unlimited.
		</small>
	</label>
	<input type="number" class="form-control" name="filesize_limit" value="{{ challenge.filesize_limit }}" required>
</div>
{% endblock %}